@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


/***SELECT LANGUAGE***/


#selectLanguage{
	
}


* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	/* background:#0CF; */
    background-image: url("../img/captureWebBackground.png");
    background-size:cover;
}

.container {
	max-width:600px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font: 400 14px/16px "Open Sans", Helvetica, Arial, sans-serif; height: 2.2em;}

#contact {
	background: #302F2F;
	padding:25px;
	margin: 150px 0;
	border-radius: 10px;
}

#contact h2 {
	color: #FFF;
	display: block;
	font-size: 15px;
	font-weight: 400;
}

#contact h2 strong{
	color:#ffcc00;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset, select {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

select{
	position:relative;
	-webkit-appareance:button;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:middle;
	height:2.2em;
	padding:0.3em 0.6em;
	background:white;
	font-size:1.2em;
	font-weight:normal;
	overflow:hidden;
	text-shadow:0 1px 0 white;
	transition:box-shadow 200ms, border-color 200ms;
	white-space:nowrap;
	}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact 	textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact 	input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
	margin-top: 10px;
}

#contact button[type="submit"] {
	cursor:pointer;
	width: 50%;
	border:none;
	background: #ffcc00;
	color:#FFF;
	margin: 0 auto;
	padding:10px;
	font-size:15px;
	margin-left: 25%;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
	border-radius: 5px;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


/***CONTACT FORM INPUT CHECK***/


.contactFormCheck{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;  
    font-size: 14px;
	font-weight: 300;
    color: #fff;
    /* width: 250px; */
    /* margin-bottom: 25px; */
    color: #ffcc00;
    display:table-caption;
}

.contactFormCheck input{
	margin: 8px;
	float: left;
	clear: both;
}

.checkInputLine p{
	 width:250px; 
	/*float:left*/
}
.checkInputLine{
	float:left;
	width: 150px;
}

#selectLanguage{
	font-size: 12px;
	color:#fff;
}

#selectLanguage img, #selectLanguage p{
	float:left;
	margin: 2px;
}

#selectLanguage img:hover{
	cursor:pointer;
	border:0.5px solid #3BC5B6;
	}
