@import url(//fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(//fonts.googleapis.com/css?family=Oxygen:400,700);

@import url(//fonts.googleapis.com/css?family=Oswald);



/*------------------------------------*\
    MENU SUPERIOR
\*------------------------------------*/






a {
            
	text-decoration: none;
}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 40px;
}

.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}



/*------------------------------------*\
    HEADER
\*------------------------------------*/

#wrap > header {
	background-color: #333;
	padding-bottom: 20px;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:15px;
}
#navigation {
	position: absolute;
	right: 40px;
	bottom: 0px;
	top: 15px;
}

#menu-toggle {
	display: none;
	float: right;
}



/*------------------------------------*\
    HEADER -> MENU
\*------------------------------------*/
#contactForm_icon{
	background-image:url(../img/contactForm_icon.png);
	background-size: cover;
	width:50px;
	height:50px;
	cursor:pointer;
}

#contactForm_icon:hover{
	background-image:url(../img/contactForm_icon_hover.png);
}



#forum_icon{
	background-image:url(../img/forum_icon.png);
	background-size: cover;
	width:50px;
	height:50px;
	cursor:pointer;
}


#forum_icon:hover{
	background-image:url(../img/forum_icon_hover.png);
}

#help_icon{
    background-image: url(../img/help_icon.png);
    background-size: cover;
    width:50px;
    height:50px;
    cursor:pointer;
}


#help_icon:hover{
   background-image: url(../img/help_icon_hover.png);
}

#contactUs_icon{
    background-image: url(../img/contactUs_icon.png);
    background-size: cover;
    width:50px;
    height:50px;
    margin-right: 10px!important;
    cursor:pointer;
}

#contactUs_icon:hover{
   background-image: url(../img/contactUs_icon_hover.png);
}

#twitter_icon{
    background-image: url(../img/twitter_icon.png);
    background-size: cover;
    width:50px;
    height:50px;
    cursor:pointer;
}

#twitter_icon:hover{
   background-image: url(../img/twitter_icon_hover.png);
}

#facebook_icon{
    background-image: url(../img/facebook_icon.png);
    background-size: cover;
    width:50px;
    height:50px;
    margin-right: 10px!important;
    cursor:pointer;
    border-right: 1px double #666666;
}

#facebook_icon:hover{
   background-image: url(../img/facebook_icon_hover.png);
}


#iesCities_icon{
    background-image: url(../img/iesCities_icon.png);
    background-size: inherit;
    width: 60px;
    height: 40px;
    margin-right: 10px!important;
    cursor:pointer;
}


#iesCities_icon:hover{
    background-image: url(../img/iesCities_icon_hover.png);
}


#signIn_icon{
    width:50px;
    height:50px;
    text-align: center;
    bottom: 20px;
    font-size: medium;
    text-spacing: allow-end;
    margin-right: 10px!important;
    }

#signUp_icon{
    bottom: 20px;
    width:50px;
    height:50px;
    font-size: medium;
    text-spacing: allow-end;
    }

#main-menu {
	float: right;
	font-size: 0;
	margin: 2px 0;
        display:flex;
}

#main-menu > li {
	display: inline-block;
/*	margin-left: 30px;
	padding: 2px 0;*/

	/* margin: 0.5px;

	text-align: center;*/



}

#main-menu > li.parent {
/*	background-image: url(../images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;*/
}

#main-menu > li.parent > a {
/*	padding-left: 14px;*/
}

#main-menu > li > a {
	color: #eee;
font-size: 12px;
line-height: 90px;
/* padding: 30px 0; */
text-decoration: none;
/* vertical-align: bottom; */
text-align: center;

}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #ffcd00;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	
	top: 35px;
	padding-top: 10px;
	position: absolute;
	width: 220px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #333;
	border: 1px solid #444;
	border-top: none;
	color: #bbb;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 10px;
    text-align: left;
    width:150px;
        }
        
        
        ul.sub-menu > li > a > p{
          font-size: 12px;  
        }

ul.sub-menu > li > a:hover {
	background-color: #2a2a2a; 
	color: #23dbdb;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #23dbdb;
	width:172px;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}


/*------------------------------------*\
    RESPONSIVE MENU
\*------------------------------------*/

@media all and (max-width: 1200px) {

	#navigation {
		position: static;
		width:100%;
	}

	#menu-toggle {
		display: block;
	}

	#main-menu {
		display: none;
		float: none;
	}

	#main-menu li {

		margin: 0;
		padding: 0;
                width:100%;
                height:100%;
                   
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		border-top:   1px solid #777;
        margin: 11px 0 0;
	}

	#main-menu > li > a {
		background-color: #333;
		border: 1px solid #444;
		color: #bbb;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
	}

	#main-menu li > a:hover {
		background-color: #444; 
	}

	#main-menu > li.parent {
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #444 !important;
	}

	ul.sub-menu > li > a.parent {
		background: #333 !important;
	}

    #selectLanguage {
        background-color: #333;
        border: 1px solid #444;
    }

    #languageFlags {
        position: relative;
        left: calc(50% - 54px);
    }

    .bsButton {
        font-size: 1.8em;
        padding-top: 2px;
        padding-right: 8px;
        padding-bottom: 3px;
        padding-left: 8px;
        margin-top: 17px;
        margin-right: 15px;
        margin-bottom: 17px;
        position: relative;
        background-color: transparent;
        background-image: none;
        border: 1px solid grey;
        border-radius: 4px;
    }
    
    .bsButton:hover {
        background-color: #222222;
    }

    #responsiveSelectCityIcon {
        margin-right: 3px;
    }

    .responsiveIcon {
        float: left;
        height: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 8px;
    }

    #responsiveCity {
        float: right;
        margin-right: 25px;
    }

    .responsiveCityIcon {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .responsiveCityName {
        color:  white;
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
    }

    #returnButton p {
		position: relative;
   		top: -20px;
	}

	#selectCity p {
		position: relative;
		top: -21px;
	}
}

@media all and (max-width: 311px) {
   
    #responsiveCity {
        position: relative;
        left: calc(50% - 39.25px);
        display: block;
        float: none;
        margin-right: 0px;
    }
}



/*------------------------------------*\
    CITY INFO
\*------------------------------------*/


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

#infoCity{
	
	margin:0 auto;
	background:#FFFFFF;
	 
	padding:2em;
	height:100%;
	}

#infoCity p:first-letter { 
    font-size: large;
    font-weight:lighter;}

#infoCity p{
    text-align:left;                      
    font-size: 0.5empx;  
    font-stretch: semi-condensed;
    font-weight: 500;
}

#infoCity h1{
	color:#fff ;
        font-size: 1.5em;
	text-align: center;
	border-bottom: 1px solid #777777;
  	box-shadow: 0 1px 0 0 #878E98 inset;
  	background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  	background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  	background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  	background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
 	background-image:         linear-gradient(top, #4b4746, #3b3736);
}


#infoCity ul{
	
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}


#infoCity ul ul {
	margin: 0 0 0 2em; /*Add some left margin for inner list */
}


.rounded-list li{
    position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
        text-align: left; 
	margin: 0.5em 0;
	/* background: #DDDDDD; */
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;
	
	list-style: circle;
}





.rounded-list li:before{
    content: "";
	counter-increment: li;
	position: absolute;
	left: -0.5px;
	top: 50%;
	margin-top: -0.4em;
	background: #888F92;
	height: 0.5em;
	width: 0.5em;
	line-height: 2em;
	border: .3em solid #E6E6E6;
	text-align: center;
	
	border-radius: 2em;
	transition: all .3s ease-out;
    
}

.userTipe  li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
   
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out; 
    font-weight:800; 
    text-align:left;
    } 
    
    .userTipe li:before{
    content: "";
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.feeedbackInfo  li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
   
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out; 
    font-weight:800; 
    text-align:left;
    } 
    
    .feeedbackInfo li:before{
    content: "";
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}


#feeedbackInfo span{
	/* padding:10px; */
	text-align: left;
	padding:15px;
	display:block;
}

#feeedbackInfo img{
    /* float:left; */
    margin-top: 10px;
    /* clear: both; */
    /* position: static; */
    /* margin-left: 5px; */
}

.developerSignUp a, .userGpInfo a{
	background-image: url(../img/iconContact.png);
       	background-size:contain;
	background-repeat:no-repeat;
	display:block;
	height:40px;
        
	margin: 0.5em;
	width: 1000px;
}

.userGpInfo a{
    background-image: url(../img/googlePlay.png);
    height:50px;
}


#feeedbackInfo{
    	padding:10px;
    	#font-size:14px;
        background-repeat: no-repeat; 
    	font-weight: 800;
        #color:#000;
    
    	/* background-size:contain; */
	
    	background-repeat:no-repeat;
	
    	display:block;
	
    
    	/* height: 100px; */
        
	
    	/* margin: 0.5em; */
	
    
    	width: 98;
    background-color:#ddd;
    
    	background-position-x: center;
    
    	background-position-y: 75px;
    
    	text-align: left;
    
    	/* padding: 20px; */
    
    	/* margin-left: 30px; */
    
    	border-radius: 5px;
    
    	/* padding: 10px; */
    cursor: pointer;
    	/* padding: 30px; */
    	/* height: 85px; */
}




#feeedbackInfo a{
    
     background-image: url(../img/feeedbackIcon.png);
     width:150;
     height:150px;
}

#feeedbackInfo p{
    /* padding:5px; */
}



.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}



.hidden {
    display: none !important;
    visibility: hidden;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   CITY CONTENT MEDIA QUERIES
   ========================================================================== */


/*------------------------------------*\
    RESPONSIVE  CITY CONTENT MEDIA QUERIES
\*------------------------------------*/


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}







/*------------------------------------*\
    MODAL
\*------------------------------------*/

.modal {
     display: none;
     position: absolute;
     top: 5%;
     left: 25%;
     width: 50%;
     padding: 16px;
     background: #fff;
     color: #333;
     z-index:1002;
     overflow: auto;
     background: #FFF;
  -webkit-box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  -moz-box-shadow: 0 0 8px 2px rgba(182,182,182, 0.75);
  -o-box-shadow: 0 0 8px 2px rgba(182,182,182,0.75);
  box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
}

.overlay{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.75;
     -moz-opacity: 0.75;
     filter: alpha(opacity=75);
     height:100%;
     background: #FFF;
  -webkit-box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  -moz-box-shadow: 0 0 8px 2px rgba(182,182,182, 0.75);
  -o-box-shadow: 0 0 8px 2px rgba(182,182,182,0.75);
  box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
}








#main-nav:target {
  width: 200%;
}
#main-nav:target + .page-wrap {
  width: 80%;
  .open-menu {
     display: none; 
  }
  .close-menu {
     display: block;
  }
  .main-header {
    width: 80%;
    left: 20%;
  }
}
INPUT:required:invalid, INPUT:focus:invalid, TEXTAREA:required:invalid, TEXTAREA:focus:invalid
{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
	background-position: right top;
	background-repeat: no-repeat;
	-moz-box-shadow: none;
}
INPUT:required:valid, TEXTAREA:required:valid
{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
	background-position: right top;
	background-repeat: no-repeat;
}

#error{
 color:red;   
 text-align: center;
}

#slideMenuAppOpen, #slideMenuAppClose, #slideMenuUserOpen, #slideMenuUserClose {
  background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  background-image:         linear-gradient(top, #4b4746, #3b3736);
  border-bottom: 1px solid #777777;
  color: #FFFFFF;
  height: 1.6em;
  text-align: center !important;
  color: white;
  text-shadow: #222 0px -1px 1px;
  font-weight:900;
  cursor:pointer;
  padding-top: 0.5em;
  transition: all 0.3s ease;
 }

 #slideMenuUserOpen{
     text-align: left;
     padding-left: 20px;
 }
 
 #slideMenuUserClose{
     text-align: left;
     padding-right: 260px;
 }
 
#slideMenuApp{
  float:left;
  width:50px;
  background-color:red;
  position: fixed;
  margin-top: 1px;
  overflow: visible;
  z-index: 95;
  position: static;
  display: block;
  position: static;
  margin-right:1em;
 }

#slideMenuUser{
    background-image: -moz-linear-gradient(center top , #4B4746, #3B3736);
    border-bottom: 1px solid #777777;
    color: #FFFFFF;
    position: static;
    /*[disabled]position:absolute;*/
	/*[disabled]margin-left:10%;*/
	/*[disabled]margin-right:25%;*/
    /*padding: 0em 2em 2em;*/
	display: block;
	/*[disabled]width:50%;*/
	/*[disabled]width:16.5em;*/
    overflow: visible;
	z-index: 95;
	position: static;
      display:none;
}





/*
  Globals
*/

/*Resets*/
.graph-container, .graph-container DIV, .graph-container A, .graph-container SPAN
{
	margin: 0;
	padding: 0;
}


BODY, INPUT, SELECT, TEXTAREA
{
	color: #222222;
	font-family: Open Sans, sans-serif;
	color:#808080;
	font-weight: 100;
	/*letter-spacing: 0.025em;*/
	font-size:14px !important;
}


#dataApp ul{
 
    /*margin: 0;*/
    padding: 0;
    list-style: none;
    margin:0;
}

#apps H1{
  text-decoration: none;
  color: #fff;
  padding: 1em 0 1em 5%;
  display: block;
  border-bottom: 1px solid #777;
  background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  background-image:         linear-gradient(top, #4b4746, #3b3736);
}



#datasets a,#apps a, #left a  {
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  display: block;
  border-bottom: 1px solid #777;
  background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  background-image:         linear-gradient(top, #4b4746, #3b3736);
}






#datasets a :hover,#apps a :hover {
    background-color: #35afe3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
    background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  }


/*header a{
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    padding: 0.5em 0 0.5em 0.5em;
    text-align: left;
    text-decoration: none;
    margin-top: 1em;
  }*/



A
{
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    text-decoration: none;
	/*[disabled]font-weight:500;*/
	/*[disabled]font-size:large;*/
	text-autospace: ideagraph-numeric;
	text-rendering: optimizeLegibility;
	/*[disabled]background-color:#42464D;*/
	/*[disabled]padding:0.5em;*/
	font-size: 90%;
}


 #datasets A:hover, #apps A:hover, #left A:hover
{
	border-bottom-color: transparent !important;
	color: #3bc5b6;

	
}
FOOTER A
{
	color:#fff;
	font-size: small;
}

FOOTER A:hover
{
	color:#35AFE3;
	font-size: small;
}
#header #logo A
{
	background-color: rgba(0, 0, 0, 0);
	margin: auto;
}
#header #logo A:hover
{
	background-color: rgba(0, 0, 0, 0);
	margin: auto;
	/*[empty]width:;*/
	padding: 1em;
}
#datasets LI
{
	/*[disabled]padding:0 1em 0px;*/
	/*[disabled]margin-top:0;*/
}
#apps.buttons LI
{
}
#apps LI
{
	/*[disabled]padding:1em 0.25em 0.25em;*/
	/*[disabled]text-align:center;*/
	/*[disabled]border-radius:0.2em;*/
}
/*STRONG, B
{
	font-weight: 400;
}*/
P, UL, OL, DL, TABLE, BLOCKQUOTE
{
	/*[disabled]margin:0 0 2em;*/
}
FOOTER P
{
	display:inline;
	
	color:#FFFFFF;
}

FOOTER img
	{
	width:50px;
	margin-bottom: -20px;
	}
H1, 


H1, H2, H3, H4, H5, H6
{
	color: #ffffff;
	font-weight: 300;
	
	

	
}
H3
{
	font-size: 1.15em;
	letter-spacing: 0.025em;
}
SUB
{
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}
SUP
{
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}
HR
{
	border-top: 1px solid rgba(124, 128, 129, 0.2);
	border: 0;
	margin-bottom: 1.5em;
}

#footer
{
	/*[disabled]margin:100% 0px 0%;*/
	text-align: center;
	background-color: #3B3D3F;
	padding:5px;
	/*[disabled]padding-top:1em;*/
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index:1;
}


SECTION#formulario INPUT
{
	  cursor: pointer;
    margin: 0.5em;
    
    width: 90%
}
SECTION#formulario INPUT[type="text"], SECTION#formulario INPUT[type="password"]
{
width: 90%;
height: 20px;
background: #fcfcfc;
border: 1px solid #ddd;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
font-family: Open Sans, sans-serif;
color: #888;
font-size: 16px;
margin-top: 5px;
margin-bottom: 5px;
}
INPUT[type="text"], INPUT[type="password"], INPUT[type="email"]
{
	line-height: 1em;
}

#content INPUT[type="password"]{
    width:90% !important;
    
}


#datasets [type="button"],#apps [type="button"]{
    cursor: pointer;
    padding: 0;
    background: #ecf0f1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
   font-family: 'Open Sans', sans-serif;
font-size: 12.222222328186px !important;
    font-weight: 400;
    color: #000;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
     margin: 5px;
    padding:0.25em;
    /* margin-left: 39%; */
}

SECTION#formulario [type="button"]{
    cursor: pointer;
    height: 20px;
    padding: 0;
    background: #ecf0f1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
   font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
     margin-left: 10px;
}

SECTION#formulario [type="button"]:hover{
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: inset 0 0 0 1px #ffcd00, 0 0 1px rgba(255, 205, 0, 1);
}


#content small {

	margin-right: -10em;
}



#selectCity {
	background-image: url(../img/selectCity_icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 50px;
	cursor: pointer;
	/*    margin: 2em;*/
	padding: 0.25em;
	border-right: 1px double #666666;
}


#selectCity:hover {
	background-image: url(../img/selectCity_icon_hover.png);
}



#selectCity p, #logoCiudadUser p{
    text-align: center;
    bottom:0px;
    margin: 45px auto;
    font-size: 12px;
    color:#fff;
    clear:both;
    
}

#returnButton{
    background-image:url(../img/returnButton.png);
    background-size: contain;
background-repeat: no-repeat;
background-position: center;

    width: 100px;
height: 50px;
cursor: pointer;
/* margin: 2em; */
padding: 0.25em;

    margin-top: -70px;
    margin-left: 200px;
}

#returnButton p{
   text-align: center;
   bottom: 0px;
   margin: 45px auto;
   font-size: 12px; 
   color: #fff;
   clear: both; 
}

#returnButton:hover{
      background-image:url(../img/returnButton_hover.png);
}

#nav #cityselector SELECT
{
    background: none repeat scroll 0 0 rgba(52, 27, 43, 0.5);
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 20em;
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
}
#banner P
{
	color: #FFFFFF;
	background-color: #3B3D3F;
}
#returnMenu
{
	width:100%;
	/*[disabled]height:50px;*/
/*	padding: 0.1em;*/
	overflow: hidden;
	display: block;
	z-index: 96;
	/*position: inherit;*/
	/*[empty]margin-left:;*/
	margin-top: -8px !important;
}
#returnMenu H2
{
	margin: 0px 0px 0px -3em;
	/*[disabled]margin-left:50%;*/
	/*[disabled]margin-top:-2em;*/
	color: #FFFFFF;
}
#returnMenuTriangle
{
	height: 2.2em;
	background-image: url(../img/returnMenuTriangle.png);
	background-repeat: no-repeat;
	margin-left: 11.5em;
	/*[disabled]background-position-y:center;*/
	background-position-x: 6em;
	background-position: 6em 0em;
}
#formulario P, SECTION#formulario NAV
{
	text-align: center;
	/*[empty]padding:;*/
}
#formulario H1
{
	
   
    font-size: medium;
    font-weight: bold;
    line-height: 1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-right: 0;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    
  background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  background-image:         linear-gradient(top, #4b4746, #3b3736);
}
#datasets H1, #dataApp #left H1
{
	background-color: #63EADA;
	padding-right: 2%;
	margin-top: 0;
	font-size: medium;
	
	/*padding: 1% 2%;*/
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px #000000;
	font-weight: bold;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: 45%;
}
#dataApp #left H1 
{
      text-decoration: none;
  color: #fff;
  
      padding: 0.6em;
  display: block;
  border-bottom: 1px solid #777;
  margin:0;
  background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  background-image:         linear-gradient(top, #4b4746, #3b3736);
}

SECTION#left
{
    text-align: left;
    /*background-color: #FFFFFF;*/
    clear: left;
    float: left;
    display: block;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 0 40px rgba(0, 0, 0, 0.1);
    /*[disabled]position:static;*/
    
    
   
}

#nav UL
{
	
	/*[disabled]margin-right:20em;*/
	   
    text-align: center;
    vertical-align: middle;
   }
/*
#main #content TABLE TBODY TD:nth-child(1)
{
display: none;
}
#main #content TABLE TBODY TR:nth-child(3)
{
display: none;
}
#main #content TABLE TBODY TR:nth-child(2)
{
display: none;
}
#main #content TABLE TBODY TR:nth-child(5)
{
display: none;
}
#main #content TABLE TBODY TR:nth-child(7)
{
display: none;
}
#main #content TABLE TBODY TR:nth-child(10)
{
display: none;
}
#main #content TABLE TBODY TR:nth-child(11)
{
display: none;
}
#main #content TR TH
{
display: none;
}

*/
#content H1
{
  border-bottom: 1px solid #777777;
  box-shadow: 0 1px 0 0 #878E98 inset;
  background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  background-image:         linear-gradient(top, #4b4746, #3b3736);
  width: 100%;
  height:40px;
  box-sizing: border-box;
	color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

  text-align: center;
  padding-top: 10px;
}


#datasets UL
{
	/*[disabled]padding-right:;*/
	/*[disabled]text-align:center;*/
}
/*#apps H1
{
	background-color: #1AB5B3;
	padding-right: 2%;
	margin-top: 0;
	text-align: center;
	height: 1.25em;
	
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px #000000;
	background-image: url(../img/iconApps.png);
	background-repeat: no-repeat;
	background-position: 45%;
	background-size: contain;
	font-weight: bold;
}*/

#userInfo{
	font-size: x-large;
	font-weight: 800;
	/* position:fixed; */
	
	margin-bottom:20px;
	
	
	background-color:rgba(222, 222, 222, 0.9);
	color:#222222;
	margin: 3em auto !important;
	text-align: center;
	width: 60%;
	padding: 1px;
	border-radius: 10px;
}



#cityselector
{
   margin-left: auto ;
   margin-right: auto ;
   /* margin-top: 14em; */
   padding:5px;
   margin-bottom: 10em
}


#iesCititesTitle{
   background-image:  url("../img/iesCitiesTitle.png");
   margin:0 auto;
    height:117px;
    width:334px;
}

#wrapper #cityselector #mapZaragoza li:nth-child(2) #logoZaragoza{
    background-image: url("../img/logoBristol.png");
    
    }

#logo
{
    background-image:url(../img/IESCitiesLogo.png);
	float: left;
	clear: both;
	display: inline-block;
}
#nav
{
	
	width:100%;
	margin: 0 auto;
}

#content-wapper{
/* width:60%; */
    
/* margin:0 auto; */
}

#subContentApp > div{
	 clear: right;
    display: block;
    float: left;
    margin-top: 5px;
  
    width: 49%;
}


#subContentApp > div:nth-child(4){
	width:0;
	display:none;
}

#subContentApp > div:nth-child(1){
	width:100%;
}

#subContentApp > div:nth-child(2){
	width:0px;
	display:none;
}

#subContentApp > div:nth-child(3){
	width:100%;
}


#subContentApp1{
	width:100%;
}

#content{
    /*display:table ;*/
    margin:0 auto;
    /* -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2); */
    /* box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2); */
    padding: 1em;
    background: #FFF;
    text-align:center;
    overflow: hidden;
    margin-bottom:3em;
	/*vertical-align: middle;*/
	font-weight: 500;
    /* width: 100%; */
}

#content p{
	overflow: visible;
  	vertical-align: middle;
    
    }

#content a{
    /* padding:10px; */
    /* margin-top: 25px; */
    /* width: 10px; */
}
/*
#content input{
 float:right;
 
}
*/

#content textarea{

 margin-top:0.5em;
  color: #222222;
  width:95%;
}


#content input[type=select]{
    float:right;
     margin:0.5em;
}


#content small{
float: right;
color:#E7746F;
margin-top: -1.5em;
}

#content label{
 /*margin-left:3em;*/
 font-weight: 500;
 float:left;
 clear:both;
 /*margin-top: 3em;*/
/* padding-right:1em;*/
/*   background-color:#FFCC00;*/
   width:100%;
}




#content form{
    display-inline:flex;
   /* width:100%;*/
    /*right:0px;*/
    margin-left: 0.25em;
    margin-top: 0;
    right: 0;
    display:inline-block;
    font-weight: 600;
}

#content form select{
    margin:0px auto;
   margin-left: 25px;
}


#content [type="button"]{
    /* font-size: 14px; */
    /* margin: 2px; */
	padding: 5px;
	color: #FFFFFF;
	background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
	background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
	background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
	background-image: -o-linear-gradient(top, #4b4746, #3b3736);
	background-image: linear-gradient(top, #4b4746, #3b3736);
	/* padding: 10px; */
	/* margin-top: 55px; */

    /* margin-right: 5px; */
	cursor:pointer;
}



#ContentApp div{
	width:40%;
	
	margin-bottom:20px;
	display:inline-block;
	width:50%;
	padding:5%;
	text-decoration:none;
	float:left;
	clear:right;

}

#subContentApp{
	width:100%;
	height:100%;
}


#subContentApp{
	display:inline;
}

.subContentApp4{
	/* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
	/* background-color: rgb(255, 255, 255); */
	/* box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
	box-sizing: border-box;
	display: block;
	/* height: 390px; */
	width: 100%;
	padding: 10px;
	text-align: left;
}


.subContentApp5, .subContentApp3{
	display: none !important;
}


.subContentApp6{
	/* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
	/* background-color: rgb(255, 255, 255); */
	/* box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
	/* box-sizing: border-box; */
	display: block;
	/* height: 390px; */
	/* width: 45%; */
	padding: 10px;
	/* margin-top: 20px; */
	clear:both;
	height: 150px;
	float: left;
	/* min-width: 30%; */
	clear: both;
}

.subContentApp div{
	width:50%;
} 


.dvAppURLContent{
	background-color: #F6F6F6;

	padding: 10px;
	background-image: url(../img/play_logo_x2.png);
background-repeat: no-repeat;

	background-size: 120px;

	background-position-x: 50%;

	background-position-y: 5px;
}

.subContentApp7{
	
/* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
/* background-color: rgb(255, 255, 255); */
/* box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
/* box-sizing: border-box; */
display: block;
/* height: 390px; */
/* min-width: 20%; */
height:150px;
padding: 10px;
/* margin-top: 20px; */
/* clear: both; */
float: left;
}


.subContentApp8{
/* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
/* background-color: rgb(255, 255, 255); */
/* box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
/* box-sizing: border-box; */
display: block;
/* height: 390px; */
/* min-width: 20%; */
height: 145px;
padding: 10px;
/* margin-top: 20px; */
/* clear: both; */	
float: left;
}

.subContentApp9{
/* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
/* background-color: rgb(255, 255, 255); */
/* box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
/* box-sizing: border-box; */
display: block;
/* height: 390px; */
/* min-width: 30%; */
height: 145px;
padding: 10px;
/* margin-top: 20px; */
/* clear: both; */
float: left;
/* margin-right: 100%; */
/* margin-left: 0px; */
}

.dvAppToS{
  	background-color: #3b3736;
box-sizing: border-box;

  	display: block;

  	height: 40px;
text-align: left;

  	/* width: 100%; */
border-bottom: 1px solid #777;
margin: 0;
background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
background-image: -o-linear-gradient(top, #4b4746, #3b3736);
background-image: linear-gradient(top, #4b4746, #3b3736);  
  	background-image: url(../img/tableTosIcon.png);  background-repeat: no-repeat;
}

.dvAppToS p{
    	box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;

    	font-size: 16px;
font-weight: bold;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

    	padding-top: 15px;
text-align: left;
    	margin-left: 20px;
}

.dvAppToSContent{
background-color: #F6F6F6;
padding: 10px;
heigth: 30px;
height: 62px;
overflow-y: scroll;
}

.subContentApp10{
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */

    /* background-color: rgb(255, 255, 255); */

    /* box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px; */

    /* box-sizing: border-box; */
display: block;
/* height: 390px; */

    min-width: 20%;

    height: 145px;

    padding: 10px;

    /* margin-top: 20px; */

    clear: left;	

    float: left;
    /* min-width: 35%; */
}


.dvAppTags{
    	background-color: #3b3736;
box-sizing: border-box;
display: block;

    	height: 40px;
text-align: left;
width: 100%;
border-bottom: 1px solid #777;
margin: 0;
background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
background-image: -o-linear-gradient(top, #4b4746, #3b3736);
background-image: linear-gradient(top, #4b4746, #3b3736);  
    	background-image: url(../img/tableTagIcon.png);  background-repeat: no-repeat;
}

.dvAppTags p{
        	box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;
font-size: 16px;
font-weight: bold;
margin-bottom: 0px;
margin-left: 0px;

        	margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

        	padding-top: 12px;
text-align: left;
        	margin-left: 20px;
}



.dvAppTagsContent{
	background-color: #F6F6F6;
padding: 10px;
height: 57px;
}




.dvAppVersion{
	background-color: #3b3736;
	border-right-style: none;
box-sizing: border-box;
display: block;

	height: 40px;
text-align: left;
width: 100%;
border-bottom: 1px solid #777;
margin: 0;
background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
background-image: -o-linear-gradient(top, #4b4746, #3b3736);
background-image: linear-gradient(top, #4b4746, #3b3736);
	background-image: url(../img/tableIdIcon.png);  background-repeat: no-repeat;
}

.dvAppVersion p{
	box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;
font-size: 16px;
font-weight: bold;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

	padding-top: 12px;
text-align: left;

	margin-left: 20px;
}




.subContentApp11{
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */

    /* background-color: rgb(255, 255, 255); */

    /* box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px; */

    /* box-sizing: border-box; */
display: block;
/* height: 390px; */

    /* min-width: 33%; */

    height: 250px;

    padding: 10px;

    /* margin-top: 25px; */
/* clear: both; */	

    float: left;
    /* min-width: 51%; */
    min-height: 290px;
    /* margin: 0 auto; */
    /* margin-left: 25%; */
    width: 98%;
}


.subContentApp12{
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */

    /* background-color: rgb(255, 255, 255); */

    /* box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 0px; */

    /* box-sizing: border-box; */

    display: block;
/* height: 390px; */

    /* min-width: 30%; */

    height: 145px;

    padding: 10px;

    /* margin-top: 20px; */

    /* clear: both; */	

    float: left;
}


.dvAppGS{
        	background-color: #3B3736;
box-sizing: border-box;
display: block;

        	height: 40px;
text-align: left;
width: 100%;
border-bottom: 1px solid #777;
margin: 0;
background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
background-image: -o-linear-gradient(top, #4b4746, #3b3736);
background-image: linear-gradient(top, #4b4746, #3b3736);  
        	background-image: url(../img/tableGSIcon.png);  background-repeat: no-repeat;  
}

.dvAppGS p{
	box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;
font-size: 16px;
font-weight: bold;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

	padding-top: 12px;
text-align: left;

	margin-left: 20px;
}

.dvAppGSContent{
    background-color: #f6f6f6;
    height: 57px;
    padding: 10px;
}

.dvAppDataset{
          	background-color: #3b3736;
box-sizing: border-box;
display: block;

          	height: 40px;
text-align: left;
width: 100%;
border-bottom: 1px solid #777;
margin: 0;
background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
background-image: -o-linear-gradient(top, #4b4746, #3b3736);
background-image: linear-gradient(top, #4b4746, #3b3736);  
          	background-image: url(../img/tableNameIcon.png);  background-repeat: no-repeat;
}

.dvAppDataset p{
   box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;
font-size: 16px;
font-weight: bold;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;

   padding-left: 40px;
padding-right: 0px;

   padding-top: 15px;
text-align: left; 
}

.dvAppDatasetContent{
	background-color: #F6F6F6;
	 padding: 10px;
 height: 57px;


}


.dvAppVersionContent{
	/* font-weight:600; */
}

.dvAppPackage{
background-color: #3b3736;
box-sizing: border-box;
display: block;
height: 40px;
text-align: left;

border-bottom: 1px solid #777;
margin: 0;
background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
background-image: -o-linear-gradient(top, #4b4746, #3b3736);
background-image: linear-gradient(top, #4b4746, #3b3736);
background-image: url(../img/tableAppIcon.png);  background-repeat: no-repeat;
/* -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */

/* box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px; */
}


.dvAppPackage p{
	box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;
font-size: 16px;
font-weight: bold;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

	padding-top: 12px;
text-align: left;

	/* width: 430px; */
	margin-left: 18px;
}

.dvAppPackageContent{
	background-color: #f6f6f6;
	padding:10px;
	
	
	min-heigth: 30px;
	height: 62px;
}

.dvAppPackageContent p{
		box-sizing: border-box;

display: block;
font-family: sans-serif;
font-size: 16px;

margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

	
		padding-top: 20px;
text-align: center;

		/* width: 430px; */
	margin-left: 18px;
}

.dvAppURLContent p {
	/* background-image: url(../img/play_logo_x2.png); */
	/* background-repeat:no-repeat; */
	/* background-size: 80px; */
	/* background-position-y: -10px; */
	width:100%;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	box-sizing: border-box;

	color:#f46f22;
cursor: auto;


	font-family: sans-serif;

	font-size: 13.5px;
font-weight: bold;


	line-height: 30px;

	text-decoration: none;



}

.dvAppVersionContent{
    background-color: #F6F6F6;
	
    padding:10px;
    height: 57px;
}


.dvAppURL{
background-color: #3b3736;
box-sizing: border-box;
display: block;
height: 40px;
text-align: left;

border-bottom: 1px solid #777;
margin: 0;
background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
background-image: -o-linear-gradient(top, #4b4746, #3b3736);
background-image: linear-gradient(top, #4b4746, #3b3736);
background-image: url(../img/tableUrlIcon.png);
/* background-image: url(../img/play_logo_x2.png); */
background-repeat: no-repeat;

}


.dvAppURL p{
	box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: sans-serif;
font-size: 16px;
font-weight: bold;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;

	padding-top: 12px;
text-align: left;
width: 430px;
	margin-left: 30px;
}



/*.dvAppDescription{
	background-color: rgb(46, 54, 65);
	box-sizing: border-box;
	display: block;
	height: 40px;
	text-align: left;

	border-bottom: 1px solid #777;
	margin: 0;
	background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
	background-image: -moz-linear-gradient(top, #4b4746, #3b3736);
	background-image: -ms-linear-gradient(top, #4b4746, #3b3736);
	background-image: -o-linear-gradient(top, #4b4746, #3b3736);
	background-image: linear-gradient(top, #4b4746, #3b3736);
	background-image: url(../img/tableDescriptionIcon.png);
	background-repeat: no-repeat;
}*/


.dvAppDescription {
	width:0px;
	display:none;
	}



.dvAppDescription p {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 12px;
	text-align: left;
	width: 430px;
	padding-left: 50px;
}









.dvAppContent {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	background: #ddd;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;
	font-weight: 600;
	text-align: left;
}



.dvAppURLContent, .dvAppPackageContent, .dvAppVersionContent, .dvAppToSContent, .dvAppTagsContent, .dvAppGSContent, .dvAppDatasetContent {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;
	font-weight: 600;
	text-align: left;
}




.dvAppPermissions, .dvAppPermissionsContent{
	display:none !important;
}



#register {
	cursor: pointer;
	width: 60%;
	height: 42px;
	margin-top: 25px;
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
	-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
	box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}

#register:hover{
    font-weight: 600;
    padding:2px;
}


#content form p input:nth-child(2) {
	width: 95%;
	height: 30px;
	background: #fcfcfc;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
	font-family: Open Sans, sans-serif;
	color: #888;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}



#idfrom {

}
#idto {
	margin-left: 17px;
}
#log3 p {

	background-color: #FFCC00;
	width: 100%;
}
#log1 p {

	background-color: #FFCC00;
	width: 100%;
}

#bg_canvas {
	background-image: url(../img/selectCityBackground.jpg);
	display: table;
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: visible;
	position: fixed;
	z-index: 1;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


UL LI {

	list-style: none outside none;
}


UL.feature-icons {
	cursor: default;
	margin: -0.75em 0 0;
	opacity: 0.35;
	overflow: hidden;
	position: relative;
}


#navCity LI {
	list-style: none;
	float: left;
	display: block;
	padding: 13px;
}

TD, TH
{
	padding: 1%;
	/* border: 1px #FFFFFF; */
	height: 1%;
	transition: all 0.3s;
	
}
.button
{
	background: #333;
	border: 1px solid;
	color: inherit;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 2px;
	min-width: 18em;
	max-width: 18em;
	/*[empty]min-height:;*/
	#padding: 0.25em 0;
	padding: 1.5em 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.button
{
	background: #333;
	border: 1px solid;
	color: inherit;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 2px;
	min-width: 18em;
	max-width: 18em;
	/*[empty]min-height:;*/
	#padding: 0.25em 0;
	padding: 1.5em 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.button:hover
{
	background: #333;
	border-color: inherit;
}
.button.signup
{
	background: #E7746F;
	border-color: #83D3C9;
	color: #FFFFFF !important;
}
#user
{
	background: #E7746F;
	border-color: #83D3C9;
	color: #FFFFFF !important;
}
.button.signup:hover
{
	background: #D97570 !important;
	border-color: #96DAD1 !important;
}
.button.area
{
	width: 250px;
	height: 250px;
	/*[empty]padding:;*/
}
#navCity #zaragoza .button
{
	background-color: #C6BEC5;
	width: 100%;
	height: 250px;
	background: url(../img/ZaragozaIcon.jpg) no-repeat bottom;
}
.button.small
{
	font-size: 0.7em;
	min-width: 14em;
	padding: 0.5em 0;
}
.wrapper.style1
{
	padding: 0;
}
.wrapper.style2
{
	background-position: bottom left, bottom right;
	background-repeat: no-repeat, no-repeat;
	background-size: 25em, 25em;
	color: #FFFFFF;
	/*[disabled]width:25%;*/

	float: left;
	display: block;
	clear: left;
	
	text-align: left;
	
	overflow: visible;
	z-index: 90;
	/*[disabled]margin-left:10%;*/
	margin-top: px;
        transition: all 300ms ease 0s;
}
.wrapper.style3
{
	margin-bottom:-15px;
	background-position: bottom left, bottom right;
	background-repeat: no-repeat, no-repeat;
	background-size: 25em, 25em;
	color: #FFFFFF;
	/*[disabled]width:25%;*/
	width: 230px;
	float: left;
	display: block;
	clear: right;
	height: 100%;
	text-align: left;
	font-weight: bold;
	overflow: visible;
	z-index: 95;
}

.wrapper.style2 .button:hover
{
	background: rgba(255, 255, 255, 0.15) !important;
}
.wrapper.style2 .button.special
{
	background: #FFFFFF;
	border-color: #FFFFFF;
	color: #83D3C9 !important;
}
.wrapper.style2 .button.special:hover
{
	border-color: inherit !important;
	color: #FFFFFF !important;
}
.wrapper.style4
{
	background: #FFFFFF;
	color: inherit;
	padding: 4em;
}


#header
{
	background:#333;
	background-size: contain;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	color: inherit;
	cursor: default;
	font-size: 0.8em;
	left: 0;
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px #000000;
	height: 80px;
	background-image: url("../img/IESCititesLogoG.png");
	background-position: 40%;
	background-repeat: no-repeat;
	height: 80px;
}
	
	
#header H1
{
	font-weight: 900;
	margin: 0;
}
#header H1 SPAN
{
	font-weight: 300;
}

#header UL LI .button
{
	font-size: 1em;
	min-width: 20px;
	width: auto;
	margin-top: -10em;
}


#banner{
	color: #FFFFFF;
	cursor: default;
	padding: 2em 0 0;
	text-align: center;
	position:absolute;
	z-index:10;
	width:100%;
	animation: 1s ease-in-out 0.25s normal forwards 1 reveal-banner;
    
    color: #FFFFFF;
}
    
#banner .inner HEADER H2 
{
	border-bottom: 2px solid;
    border-top: 2px solid;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin: 0;
    padding-left: 0.05em;
    position: relative;
    text-transform: uppercase;
    background-size: cover;
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    height: 5em;
}


#banner .inner P
{
     letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

#banner .inner P A
{
	/*[disabled]color:inherit;*/
	/*[disabled]font-weight:400;*/
	/*[disabled]text-decoration:none;*/
}
#banner .inner FOOTER
{
	margin: 2em 0 0;
}
#main
{
	
	/*[disabled]background-position:top left, top right, bottom left, bottom right;*/
	/*[disabled]background-repeat:no-repeat;*/
	/*[disabled]background-size:25em;*/
	/*[disabled]padding:0 0 3em;*/
	/*[disabled]background-color:#FFFFFF;*/
	/*[disabled]margin-top:1em;*/
	/*[disabled]margin-right:10%;*/
}
BODY
{
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}
HTML
{

	overflow-x:hidden;
	/*[empty]background-image:;*/
}

#main
{
    
    
}
NAV#navCity
{
	margin: 0 2% 1%;
	display: inline-block;
	position: relative;
	width: 100%;
	float: left;
}
#main .sidebar SECTION
{
	border-top: 1px solid rgba(124, 128, 129, 0.2);
	margin: 3em 0 0;
	padding: 3em 0 0;
}
#main .sidebar SECTION:first-child
{
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}
#bannerPhone
{

}

.menuCity{
 display:inline-block;   
}

#logoCiudadUser{
	background-image: url(../img/selectCity_icon.png);
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100px;
    height:65px;
    
/*    margin: 2em;*/
    padding:0.25em;
    margin-left: 100px;
    margin-top: -55px;
}

.logoCiudadUserZaragoza{
    background-image:url(../img/logoZaragoza.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    height: 50px;
    margin-right: 1em;
    padding-top: 2em;
    text-align: center;
    width: 180px;
    z-index: 2;
}

.logoCiudadUserBristol{
    background-image:url(../img/logoBristol.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    height: 50px;
    margin-right: 1em;
    padding-top: 2em;
    text-align: center;
    width: 180px;
    z-index: 2;
}

#Zaragoza
{
	display: -webkit-box;
    padding:5em;
    background-image: url(../img/logoZaragoza.png);
    background-position: bottom;
    background-repeat: no-repeat;
     background-size: 12em auto;
	/*[disabled]-webkit-box-shadow:0 8px 6px -6px black;*/
	/*[disabled]-moz-box-shadow:0 8px 6px -6px black;*/
	/*[disabled]box-shadow:0 8px 6px -6px #000000;*/
}

#Bristol{
    display: -webkit-box;
    padding:5em;
    background-image: url(../img/logoBristol.png);
    background-position: bottom;
    background-repeat: no-repeat;
     background-size: 12em auto;
    /*[disabled]-webkit-box-shadow:0 8px 6px -6px black;*/
    /*[disabled]-moz-box-shadow:0 8px 6px -6px black;*/
    /*[disabled]box-shadow:0 8px 6px -6px #000000;*/
}

#Rovereto{
    display: -webkit-box;
    padding:5em;
    background-image: url(../img/logoRovereto.png);
    background-position: bottom;
    background-repeat: no-repeat;
     background-size: 12em auto;
    /*[disabled]-webkit-box-shadow:0 8px 6px -6px black;*/
    /*[disabled]-moz-box-shadow:0 8px 6px -6px black;*/
    /*[disabled]box-shadow:0 8px 6px -6px #000000;*/
}

#Majadahonda{
    display: -webkit-box;
    padding:5em;
    background-image: url(../img/logoMajadahonda.png);
    background-position: bottom;
    background-repeat: no-repeat;
     background-size: 12em auto;
    /*[disabled]-webkit-box-shadow:0 8px 6px -6px black;*/
    /*[disabled]-moz-box-shadow:0 8px 6px -6px black;*/
    /*[disabled]box-shadow:0 8px 6px -6px #000000;*/

}


#logoiEsCities{
   display: -webkit-box;
    padding:2.2em;
    padding-left: 1em;
    padding-right: 1em;
    background-image: url(../img/IESCititesLogoG.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#333; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px #000000;
    
}


SECTION#formulario
{
    background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  	background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  	background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  	background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  	background-image:         linear-gradient(top, #4b4746, #3b3736);
    border-bottom: 1px solid #777777;
    color: #FFFFFF;
    display: block;
 
    text-decoration: none;
    width:250px;
    background-color: #616975;
    box-shadow: 0 1px 0 0 #878e98 inset;
    font-size:small;
    display: block;
	/*[disabled]width:50%;*/
	/*[disabled]width:16.5em;*/
	
    float: right;
	overflow:hidden;
	clear: right;
	z-index: 95;
	margin-right:0;
	transition: all 300ms ease 0s;
    z-index: 95;
    /* padding:10px; */
}

SECTION#formulario ul {
	text-decoration:none;
	color:#fff;
	padding:1em 0 1em 5%;
	display:block;
	border-bottom:1px solid #777;
	font-size:medium;
	background-image:-webkit-linear-gradient(top, #4b4746, #3b3736);
	background-image:-moz-linear-gradient(top, #4b4746, #3b3736);
	background-image:-ms-linear-gradient(top, #4b4746, #3b3736);
	background-image:-o-linear-gradient(top, #4b4746, #3b3736);
	background-image:linear-gradient(top, #4b4746, #3b3736);
	font-size:small;
}


SECTION#formulario li{
	#color:#ffcc00;
	/* padding:2px; */
	padding-left: px;
	font-size:14px;
	font-weight:600;
	#text-transform:uppercase;
}

#dataApp {
	/*[disabled]position:absolute;*/
	/*[disabled]margin-right:25%;*/
	clear:both;
	display:block;
	/* float: left; */
	width:250px;
	margin-left:0;
	overflow:visible;
	transition:all 300ms ease 0s;
	z-index:95;
	margin-top:10px;
	height:100%;
	/* margin-top: 10px; */
}

.dataAppActivo {
	margin-left:0 !important;
}
.dataLoginActivo {
	margin-right:0 !important;
	
}
#apps, #datasets {
	width:250px;
	background-image:-webkit-linear-gradient(top, #4b4746, #3b3736);
	background-image:-moz-linear-gradient(top, #4b4746, #3b3736);
	background-image:-ms-linear-gradient(top, #4b4746, #3b3736);
	background-image:-o-linear-gradient(top, #4b4746, #3b3736);
	background-image:linear-gradient(top, #4b4746, #3b3736);
}

/*FLOT*/

#graph-wrapper {
	width:500px;
	height:500px;
	display:table;
	margin:0 auto;
	-webkit-box-shadow:0 2px 15px 0 rgba(0,0,0,.2);
	box-shadow:0 2px 15px 0 rgba(0, 0, 0, 0.2);
	padding:1em;
	background:#FFF;
	z-index:100;
	overflow:visible;
	margin-bottom:1em;
	vertical-align:middle;
}


/* Gradinet and Rounded Corners */
	.graph-container, #tooltip, .graph-info a {
		background:#ffffff;
		background:-moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
		background:-webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
		background:-o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
		background:-ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
		background:linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}


/* Graph Container */
	.graph-container {
		position:relative;
		width:550px;
		height:300px;
		padding:20px;
		-webkit-box-shadow:0px 1px 2px rgba(0,0,0,.1);
		-moz-box-shadow:0px 1px 2px rgba(0,0,0,.1);
		box-shadow:0px 1px 2px rgba(0,0,0,.1);
	}

 

.graph-container> div {
	position:absolute;
	width:inherit;
	height:inherit;
	top:10px;
	left:25px;
}

.graph-info {
    width: 590px;
    margin-bottom: 10px;
}

/* Color Circles */
.graph-info a:before {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    top: 13px;
    left: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.graph-info .visitors { border-bottom: 2px solid #71c73e; }
.graph-info .returning { border-bottom: 2px solid #77b7c5; }
 
.graph-info .visitors:before { background: #71c73e; }
.graph-info .returning:before { background: #77b7c5; }

.graph-info .downloads { border-bottom: 2px solid #71c73e; }
.graph-info .aplications { border-bottom: 2px solid #77b7c5; }

.graph-info .downloads:before { background: #71c73e; }
.graph-info .aplications:before { background: #77b7c5; }

/* Lines & Bars Buttons */
#lines, #bars {
    width: 34px;
    height: 32px;
    padding: 0;
    margin-right: 0;
    margin-left: 10px;
    border-bottom: 2px solid #71c73e;
    float: right;
    cursor: pointer;
}
 
#lines.active, #bars.active {
    background: #82d344;
    background: -moz-linear-gradient(top, #82d344 0%, #71c73e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#71c73e));
    background: -webkit-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: -o-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: -ms-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: linear-gradient(to bottom, #82d344 0%,#71c73e 100%);
}
 
#lines span, #bars span {
    display: block;
    width: 34px;
    height: 32px;
    background: url('../img/lines.png') no-repeat 9px 12px;
}
 
#bars span { background: url('../img/bars.png') no-repeat center 10px; }
 
#lines.active span { background-image: url('../img/lines_active.png'); }
 
#bars.active span { background-image: url('../img/bars_active.png'); }


.subContentApp6,  .subContentApp7, .subContentApp8,.subContentApp9,.subContentApp10,.subContentApp12{
        width: 45%;
        margin: 1%;
    }
    
.subContentApp10{
        clear: right;
    }

/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
    content: '';
    display: block;
    clear: both;
}


#tooltip, .graph-info a {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #646464;
}
 
.tickLabel {
    font-weight: bold;
    font-size: 12px;
    color: #666;
    font-family: Open Sans, sans-serif;
}


.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }


#tooltip {
    position: absolute;
    display: none;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}





 
 
/* Normal styles for the modal */
#modal {
    background:#fff;
    left:25%;
   /* margin:0 auto;*/
   /* position:absolute;*/
    top:-150%;
   /* width:50%;*/
    border-radius:5px;
    box-shadow:0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding:1em;
}

/* Make the modal appear when targeted */
#modal:target {
     top:10em;
     transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -webkit-transition: all 0.4s ease-in-out;
    }
    
#modal header,#modal footer {
    background:#f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

#modal footer {
        border:none;
        border-top: 1px solid #e7e7e7;
        border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
}
    
#modal section,#modal header, #modal footer {
    padding:15px;
    z-index:200;
}
#modal h2 {
    margin:0;
}
#modal .btn {
    float:right;
}


#selectGrafica{
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto 3em;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    max-width:600px;
}

.wat-bg{
	float:left;
	margin:10px 0px 0px 1px;
	padding-bottom:25px;
	width:230px;
	height:auto;
	background-color:#4a4343;
}
.wat-head{
	float:left;
	padding:5px;
	margin:0px 0px 5px 4px;
	height:20px;
	width:230px;
	font-family: Open Sans, sans-serif;
	font-size:24px;
	color:#89dfff;
}
.wat-order{
	float:left;
	margin:2px 0px 10px 10px;
	height:50px;
	width:210px;
	background:#FFF;
}
.wat-name{
	float:left;
	margin:10px 0px 0px 0px;
	height:35px;
	width:140px;	
}
.wat-link1{
	float:left;
	margin:0px 0px 0px 10px;
	height:12px;
	width:130px;
	font-family: Open Sans, sans-serif;
	font-size:11px;
	color:#938b8b;
	font-weight:bold;
}
.wat-link:hover{
	color:#89dfff;

}
.wat-link {
	float:left;
	margin:0px 0px 0px 10px;
	height:27px;
	width:130px;
	font-family: Open Sans, sans-serif;
	font-size:11px;
	color:#949090;	
}
.wat-line{
	float:left;
	margin:15px 0px 0px 5px;
	height:20px;
	width:1px;
	background:#928a8a;
}
.money{
	float:left;
	margin:17px 0px 0px 10px;
	font-family: Open Sans, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:30px;
	width:50px;
	color:#716b6b;
}


/*=====================two=======================*/

#bg_canvas { height: 100%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;}      #wrapper { height:100%; width: 100%;  position:absolute;  z-index:1; }
	
ul.egmenu {  
    background: #333; 
    margin-top:5em;
    width: 60%;
    text-align: center; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px #000000;
    border-radius: 5px;
}

ul.egmenu li{
	width:14em;
}

ul.egmenu ul {
    background: #444; 
    display: none; 
    position: absolute;
    left: 0; top: 100%;
}

ul.egmenu a { 
    cursor: pointer; 
    display: block; 
    color: white; 
    line-height: 30px; 
    padding: 0 5px; 
}

ul.egmenu p { 
    margin-top:0%; 
    position:static;
}

.egmenu li { 
	 display: inline-block; /* the key bit */
    *display: inline; /* IE7 hack */
    *zoom: 1; /* IE7 hack */
	}

ul.egmenu li:hover { background: #555;  }
ul.egmenu li:hover ul { display: block;  }	

/* example 6 */
.example6 span {
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: .2s;
}
.example6:hover span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: .2s;
}
.example6 span:before {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
	-webkit-transform-origin: 100% 100%;
}
.example6:hover span:before {
	margin-top: 0;
	-webkit-transform: rotate(22.5deg) skewX(22.5deg);
	-webkit-transition-delay: 0, .2s;
}
.example6 span:after {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
	-webkit-transform-origin: 100% 0%;
}
.example6:hover span:after {
	margin-top: 0;
	-webkit-transform: rotate(-22.5deg) skewX(-22.5deg);
	-webkit-transition-delay: 0, .2s;
}


/***info user logged**/

#userLoggedInfo{
background: #333;
margin-top: 5em;
width: 16%;
text-align: center;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px #000000;
border-radius: 5px;
margin:0 auto;
color:#fff;
/* font-weight: 800; */
margin-top: 40px;
padding: 10px;
}

#userLogged{
    text-transform: uppercase;
    color:#ffcc00;
    font-weight:600;
}








// Article table header hide
article#content tr:nth-child(2){
    display:none;
}



/***applications**/

.dvAppImage{
width: 100%;
height: 160px;
border-bottom: 3px solid white;
#background: url(../img/television-demo-banner.jpg);
background-size: cover;
background-position: center center;
overflow: hidden;
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 0px;
background-color: rgb(255, 255, 255);
box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 0px;
box-sizing: border-box;
}

.dvAppImage img{
	
#background: url(http://cedrostec.com/mark/css/television-demo-banner.png);
background-size: cover;
background-position: center center;
border-radius: 50%;
width: 150px;
height: 150px;
border: 3px solid #eee;
position: relative;
margin-left:2%;
#float:left;
clear:both;
margin-top: 2px;
}

/*** Table Styles **/


div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: Open Sans, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  border-right: 1px solid #343a45;
   padding: 0.2em;
  text-align: center !important;
  font-weight:normal;
   font-size:14px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  background-image:         linear-gradient(top, #4b4746, #3b3736);
  border:none;
}


th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  color: #444;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  font-weight: 600;
}
 
tr:hover td {
  /* background: rgba(59, 61, 63, 0.25); */
  /* color:#222222; */
 /* border-top: 1px solid #22262e;*/
 
  /* border-bottom: 1px solid #22262e; */
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
/*tr:nth-child(odd):hover td {
   background: rgba(59, 61, 63, 0.25); 
  color:#222222;
}*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
  border-bottom: 1px;
}

tr a{
 padding:1em;   
}
/*tr a:hover{
 color:#3BC5B6;   
}
 */
td {
  background:#FFFFFF;
  padding:5px;
  
  
  font-size:small;
  
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


#log3 tbody{
 width:100%;   
    
}

#description h1{
    text-align: center;
}
#description{
    text-align: left;
    padding:10px;
    line-height: 2;
    background-color: rgba(220,220,220,0.5);
}



#content table{
    /* margin:0 auto; */
    width: 100%; 
    border-collapse: collapse;
    overflow-y: hidden;
    font-weight: 600;
    overflow-x: auto;
    color: #444;
    margin:10px;
}

#tablas{
  color:#FFFFFF;
  font-stretch:ultra-condensed;
  font-size: large;
  font-variant: small-caps;  
  font-size:14px; 
  #background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
  #background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
  #background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
  #background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
  #background-image:         linear-gradient(top, #4b4746, #3b3736);  
  margin-top:2px;
  margin:0px auto;
  #width:250px;  
}

#tablas li::before{
   content:" - "; 
}

#tablas li{
 font-variant:inherit;
 color:#3BC5B6;
 font-size:12px;
 list-style: circle;
 margin-left:50px;
 display: -webkit-box;
 text-align:center;
 }
 
#description a{
    /* margin:2px; */
    padding:5px;
    color:#FFFFFF;
    background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
    background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
    background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
    background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
    background-image:         linear-gradient(top, #4b4746, #3b3736);
    /* padding: 10px; */
    /* margin-top: 55px; */
    margin-right: 5px;
}

#description a:hover{
    color:#ffcc00;
    border-radius: 5px;
 }

#description p{
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #ddd;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: all .3s ease-out;
font-weight: 600;
text-align: left;
}

#description p:before{
	content: "";
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #87ceeb;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid #fff;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}

#tableList{
    padding:5px;
    color:#FFFFFF;
    margin-right: -120px;
    background-image: -webkit-linear-gradient(top, #4b4746, #3b3736);
    background-image:    -moz-linear-gradient(top, #4b4746, #3b3736);
    background-image:     -ms-linear-gradient(top, #4b4746, #3b3736);
    background-image:      -o-linear-gradient(top, #4b4746, #3b3736);
    background-image:         linear-gradient(top, #4b4746, #3b3736);   
    border:none;
    border-radius:2px;
 }
/* 
 #tableList:hover{
   color:#3BC5B6;
 }*/

#helpIcon{
	background-image:url(../img/helpIcon.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    
    height:40px;
    width:40px;
}

#contactIcon{
	background-image:url(../img/contactIcon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:40px;
    width:40px;
    border-right: 1px solid grey;
    padding-right:30px;
}

#twitterIcon{
	background-image:url(../img/twitterIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor:pointer;
    height:40px;
    width:40px;
    margin-left:20px !important;
}

#facebookIcon{
	background-image:url(../img/facebookIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor:pointer;
    height:40px;
    width:40px;
    border-right: 1px solid grey;
    padding-right:30px;
}

#signIn{
    background-image:url(../img/singIn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor:pointer;
    height: 50px;
    width: 50px;
    margin-left:20px !important;
	}
	
	
#signUp{
    background-image:url(../img/singUp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor:pointer;
    height: 50px;
    width: 50px;
    margin-left:20px !important;
}	

/*------END OF HEADER DROPDOWN MENU------*/

@media all and (max-width: 480px) {
    ul.egmenu {  height: auto; }
    ul.egmenu > li {  float: none; width: 100%; }
    ul.egmenu a { line-height: 40px; }
    ul.egmenu ul { position: relative; }
    }
    
@media all and (min-width: 481px) {
    ul.egmenu li:hover { background: #555;  }
    ul.egmenu li:hover ul { display: block;  }
    }   
      
@media all and (max-width: 480px) {
    ul.egmenu {  height: auto; }
    ul.egmenu > li {  float: none; width: 100%; }
    ul.egmenu a { line-height: 40px; }
    ul.egmenu ul { position: relative; }
    ul.egmenu li.tap { background: #555;  }
    ul.egmenu li.tap ul { display: block;  }
   
#userInfo{
    font-size:large;
    max-width:480px;
    padding:10px;
 }
}	
	
@media 
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    
/*------------------------------------*\
    TABLA
\*------------------------------------*/

    #slideMenuUser{
        /*position:fixed;*/
        width: 100%;
         }
    
    #slideMenuUser{
        display:block;
         margin-top:-30px; 
    }
    #dataApp{
        /* margin-left:-900px; */
    }
    SECTION#formulario{
        margin-right:-900px;
    
}
    #userInfo{
        max-width:800px;
        /* float:left; */
    
        margin: 10px;
}
    #footer{
       font-size: 10px; 
    }
    #dataApp{
        margin-top:30px;
        float:none;
        width:100%;
    
        /* text-align: center; */
}


    #datasets, .wrapper.style2, #left, #apps {
        width:100%;
    }
    
    #dataApp #left H1, #datasets, .wrapper.style2 {
        text-align:center;
    }
    
    SECTION#formulario{
        width:100%;
    }
    
    SECTION#formulario input{
        margin:0 auto;
    }
    
    #datasets a, #apps a, #left a{
        padding:1.25em;
        
    }
    
    #datasets ,#dataApp,#left a,  #apps ,  #left , #formulario{
        text-align: center;
    }
    
    SECTION#formulario [type="button"]{
        margin: 1em;
        height: 2em;
        cursor:pointer;
    }
    
    SECTION#formulario ul{
		padding:0px;
	}
	
    /*#datasets, #apps{
        margin-top: -38px;
    }*/
}





@media 
only screen and (max-width: 1200px),
(min-device-width: 1024px) and (max-device-width: 1200px)  {
    .subContentApp6,  .subContentApp7, .subContentApp8,.subContentApp9,.subContentApp10,.subContentApp12{
        width: 45%;
        margin: 1%;
    }
    
    .subContentApp11{
        width: 95%;
        padding: 25px;
    }
    
    .subContentApp10{
        clear: right;
    }
    
     .dvAppPackage, .dvAppToS, .dvAppToS{
    	font-size:14px !important;
    	
    }
    
}



@media 
only screen and (max-width: 1200px),
(min-device-width: 1024px) and (max-device-width: 1200px)  {
 
    
    
/*    .subContentApp6,  .subContentApp7, .subContentApp8,.subContentApp9,.subContentApp10,.subContentApp12{
     padding-right: 50px; 
    width: 95%;
}*/
    .dvAppPackage, .dvAppToS, .dvAppToS{
    	font-size:14px !important;
    	
    }
    
    #subContentApp > div{
    	min-height:
    }
    
    .dvAppURLContent p{
		text-align:center;
	}
    
    #slideMenuUser{
      
        width: 100%;
        display:block;
    }
    

   #dataApp{
       
        margin-left:-900px;
    }
    SECTION#formulario{
        /*margin-top:-30px; */
        margin-right:-900px;
    }
     SECTION#formulario label{
     	display:none;
     	
     }
    
    
      #header{
        background-image: url(../img/IESCitiesLogo.png);
        background-position: 50%;
    	background-size:80px;
        height: 80px;
}
    
    #menu-toggle{
        display: block;
      
        float: right; 
        margin-left: 100%;
        z-index:100;
}

ul.sub-menu > li:first-child, ul.sub-menu > li > a {
	width:100%;
	
}

.icon-reorder{
	z-index:100;
}
    
a {
  color: #73685d;
}
}