
<!--INFO BRISTOL-->

<aside id="infoBristol">
    <p>Bristol (UK)  is a city, unitary authority area and ceremonial county in South West England, with an estimated population of 433,100 for the unitary authority in 2009, and a surrounding Larger Urban Zone (LUZ) with an estimated 1,070,000 residents in 2007. It is England’s sixth and the United Kingdom’s eighth most populous city, one of the Core Cities Group and the most populous city in South West England.
Bristol is the largest centre of culture, employment and education in the region. Its prosperity has been linked with the sea since its earliest days. The commercial Port of Bristol was originally in the city centre before being moved to the Severn Estuary at Avonmouth; Royal Portbury Dock is on the western edge of the city boundary. In more recent years the economy has depended on the creative media, electronics and aerospace industries, and the city centre docks have been regenerated as a centre of heritage and culture.
The main objective of the pilot is providing further services to citizens making use of on-going initiatives and existing infrastructures in the city focusing the services on:</p>
<ul>
    <li>Health care.</li>
    <li>Energy consumption awareness.</li>
    <li>Current needs of the citizens.”</li>
    <li><em>In the case you are a developer and would like to publish and promote new application about your city in our platform, please create a developer account.</em><a href="#">Sing Ul</a></li> 
    <li>If you are not a developer and would like to have access to a set of applications focused on your city, please, click here to download the IES Cities player from google play. This application acts as a marketplace allowing you to discover which applications are available on your surroundings making use of public data.</li>
</ul>
</aside>


<!--INFO MAJADAHONDA-->

<aside id="infoZaragoza">
    <p>Majadahonda is a municipality located at 18 km northwest of Madrid, the capital city of Spain with a municipal territory of 38 square kms. It is well connected with Madrid and the surrounding municipalities through a system of roads and highways, highlighting a dedicated bus lane on the highway A6 to Madrid.
In 2011 the population of this residential city was approximately 70.100 inhabitants. It is a population of a high cultural level and socioeconomic status. Currently, approximately 80% of homes have access to the Internet.
The objective of the Majadahonda pilot is to foster the already deployed ICT infrastructure as well as to increase the interest of the population on ICT services, the use of the data provided and the creation of added value services both for the cities and the local businesses.”</p>
<ul>

    <li><em>In the case you are a developer and would like to publish and promote new application about your city in our platform, please create a developer account.</em><a href="#">Sing Ul</a></li> 
    <li>If you are not a developer and would like to have access to a set of applications focused on your city, please, click here to download the IES Cities player from google play. This application acts as a marketplace allowing you to discover which applications are available on your surroundings making use of public data.</li>
</ul>
</aside>


<!--INFO ROVERETO-->

<aside id="infoRovereto">
    <p>Rovereto (IT)  is a city and comune in Trentino in northern Italy, located in the Vallagarina valley of the Adige River. Its population reached 37k by 2009. Rovereto is actually a very important touristic centre in its region. The transport system in the city is therefore a strategic key factor which wants, thanks to IES Cities, to be improved in order to offer a higher quality service among the citizens and tourists. This is one of the reasons, as it will be seen, why the services tested in Rovereto will be focused on transport systems.
The city of Rovereto has started a transition from a manufacture industrial productivity system to a knowledge based one through the exploitation of the opportunities provided by the green economy with particular relevance to the valorisation of the ICT technologies. The key elements for the IES-Cities project are:
The main objective of the Rovereto pilot is to deploy at a full-scale the “smart city” concept (through the development, adoption, integration, deployment and validation of advanced ICT solutions), focusing on giving an added value to the mobility and transport systems in Rovereto and its surrounding area”</p>
<ul>
    
    <li><em>In the case you are a developer and would like to publish and promote new application about your city in our platform, please create a developer account.</em><a href="#">Sing Ul</a></li> 
    <li>If you are not a developer and would like to have access to a set of applications focused on your city, please, click here to download the IES Cities player from google play. This application acts as a marketplace allowing you to discover which applications are available on your surroundings making use of public data.</li>
</ul>
</aside>

<!--INFO ZARAGOZA-->

<aside id="infoRovereto">
    <p>Zaragoza (ES) is the capital city of the Zaragoza Province and of the autonomous community of Aragon, Spain.On 1 September 2010 the population of the city of Zaragoza was 701.090 within its administrative limits on a land area of 1.062,64 km2 (410.29 sq. mi), ranking fifth in Spain. It is the 35th most populous municipality in the European Union. The population of the metropolitan area was estimated in 2006 at 783,763 inhabitants. The municipality is home to more than 50% of the Aragonese population. The city lies at an elevation of 199 metres. Zaragoza hosted Expo 2008 in the summer of 2008, a World’s fair on water and sustainable development. In 2003, Zaragoza began an ambitious transformation process based on the idea of becoming one of the most adapted cities to what was called the digital economy.
The objective of the Zaragoza pilot is to foster the already deployed ICT infrastructures as well as to increase the interest of the population on ICT services, the use of the data provided and the creation of added value services both for the cities and the local businesses</p>
<ul>
    
    <li><em>In the case you are a developer and would like to publish and promote new application about your city in our platform, please create a developer account.</em><a href="#">Sing Ul</a></li> 
    <li>If you are not a developer and would like to have access to a set of applications focused on your city, please, click here to download the IES Cities player from google play. This application acts as a marketplace allowing you to discover which applications are available on your surroundings making use of public data.</li>
</ul>
</aside>


