
<aside id="infoCity">
   <h1>IES Cities: A novel and practical way of building the digital identity of a City</h1>    
   <p><b><strong>Why internet-enabled services in “Smart” cities now and not before?</strong></b></p>
                    <p style="text-align: justify;">Cities need to be sustainable, offering the best possible services to the citizen in a resource-efficient manner and leveraging the cities’ current sensor and data infrastructures and citizens’ devices (smartphones); thus improving the overall quality of life of their citizens and the environment. So far, the Cities’ business model was based on the income obtained from taxes and councils’ land sale. However, this model is not valid any longer. Cities must make a better use of their deployed infrastructure whilst leveraging from the increasing IT savvying citizens who consider ICT technology as a facility to enhance their daily activities within the city.</p>
                    <p><b>How IES Cities addresses these challenges?</b></p>
                    <p style="text-align: justify;">IES Cities adapts and integrates technical components and tools in the area of Linked Data management, service prosuming and social data mining obtained in earlier projects. IES Cities aims to validate Internet-enabled services consumed by citizens in the form of <b>mobile urban apps that are based on an open platform where the information is obtained from Open Government Data and enriched through citizens’ contributions</b>. By enabling a city-wide ecosystem of urban apps that exploit the city knowledge made public by the councils and enriched by their citizenships an open innovation system is established where companies, citizens and councils interact and collaborate towards achieving a Smarter City, i.e. <b>a city that actually addresses and meets the needs of the actual citizens</b>.</p>
                    <p style="text-align: justify;">IES Cities provides the tools to facilitate the use of an open technological platform in different cities across Europe, <b>allowing the citizens to produce and consume internet-based services based on their own and external data related to the cities</b>. By means of this platform, citizens role in the smart cities value chain evolves from mere consumers of information to “prosumers”, this is, providers, producers and consumers of information from their smartphone’s apps.</p>
                    <p style="text-align: justify;"><b>Where is the added value of IES Cities? </b></p>
                    <p style="text-align: justify;">The added value on IES Cities strives on the fact that no project before has considered so much the extent of the impact that the users may have on improving the open data in which services are usually based.</p>

   <ul class ="userTipe">
       <li><em>More information at </em><a href="http://iescities.eu/"><strong style="font-size: 18px;">http://iescities.eu/</strong></a></li>
                    
                    
</aside>
    
